body {
  font-size: 14px !important;
  overflow-x: hidden;
  margin: 0;
  position: relative;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

table {
  font-size: 14px !important;
}

a {
  text-decoration: none !important;
}

.text-underline {
  text-decoration: underline !important;
}

.trantition {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.trantition2 {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.font-8 {
  font-size: 8px !important;
}

.font-9 {
  font-size: 9px !important;
}

.font-10 {
  font-size: 10px !important;
}

.font-11 {
  font-size: 11px !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-13 {
  font-size: 13px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-15 {
  font-size: 15px !important;
}

.font-16 {
  font-size: 16px !important;
}

.font-21 {
  font-size: 21px !important;
}

.font-24 {
  font-size: 24px !important;
}

.w-25 {
  width: 25% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-50 {
  width: 50% !important;
}

.w-33 {
  width: 33.33% !important;
}

.w-70 {
  width: 70% !important;
}

.w-100 {
  width: 100% !important;
}

.cursor-pointer {
  cursor: pointer;
}

.delay-1 {
  animation-delay: .25s;
}

.delay-2 {
  animation-delay: .5s;
}

.delay-3 {
  animation-delay: .75s;
}

.delay-4 {
  animation-delay: 1s;
}

.delay-5 {
  animation-delay: 1.25s;
}

.delay-6 {
  animation-delay: 1.5s;
}

.min-h-100vh {
  min-height: 100vh;
}

.h-100 {
  height: 100%;
  ;
}

.min-h-90vh {
  min-height: 90vh;
}

/* desktop */
@media (min-width: 770px) {}

/* mobile */
@media (max-width: 769px) {}


/* start styling */

ion-icon {
  display: flex !important
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.ql-container,
.ql-editor {
  min-height: 20vh !important;
  max-height: 50vh !important;
  overflow: auto;
  font-size: 1rem !important;
}

.ql-editor.ql-blank::before {
  font-style: normal !important;
  font-size: 1rem !important;
  font-family: Muli !important;
}

.ql-toolbar.ql-snow {
  background-color: #f7f7f7 !important;
}

.action-disabled {
  pointer-events: none;
  opacity: 0;
}

.caret-off::before {
  display: none !important;
}

.caret-off::after {
  display: none !important;
}

.icon-hover:hover {
  /* background-color: black;
  opacity: .1; */
  background: rgba(0, 0, 0, .05);
}

.notify {
  position: relative;
  top: -11px;
  right: -8px;
}

.notify .heartbit {
  position: absolute;
  top: -20px;
  right: -4px;
  height: 25px;
  width: 25px;
  z-index: 10;
  /* border: 5px solid #fc4b6c; */
  border-radius: 70px;
  -moz-animation: heartbit 1s ease-out;
  -moz-animation-iteration-count: infinite;
  -o-animation: heartbit 1s ease-out;
  -o-animation-iteration-count: infinite;
  -webkit-animation: heartbit 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.notify .point {
  width: 6px;
  height: 6px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  /* background-color: #fc4b6c; */
  position: absolute;
  right: 6px;
  top: -10px;
}

@keyframes heartbit {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  20% {
    transform: scale(.25);
    opacity: .80;
  }

  40% {
    transform: scale(.50);
    opacity: .60;
  }

  60% {
    transform: scale(.75);
    opacity: .50;
  }

  80% {
    transform: scale(1);
    opacity: .30;
  }

  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}

::-webkit-scrollbar{
  width: 5px !important;
}
::-webkit-scrollbar-track{
  background-color: #fff !important;
  border-radius: 50px !important;
}

::-webkit-scrollbar-thumb{
  background-color:lightgray;
}

.left-sidebar {
  width: 250px !important;
  height: 100vh;
  overflow: auto;
  box-shadow: 1px 0 20px rgba(0, 0, 0, .08);
  margin-left: 0;
}

.left-sidebar-close {
  margin-left: -250px !important;
}

.side-contents {
  margin-left: 250px;
}

.side-contents-full {
  margin-left: 0px;
}

.side-settings {
  width: 300px;
  min-height: 100vh;
  right: 0;
  z-index: 999999;
  margin-right: 0;
}

.side-settings-close{
  margin-right: -300px !important;
}

/* here is the trick */

.thead-sticky-top{
  position: sticky;
  top: 0;
  background-color: white;
}

.icon {
  width: 3rem;
  height: 3rem;
}

.icon-shape {
  display: inline-flex;
  padding: 12px;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.bg-gradient-green {
  background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%) !important;
}

.bg-gradient-info {
  background: linear-gradient(87deg, #11cdef 0, #1171ef 100%) !important;
}

.bg-gradient-red {
  background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
}

.bg-gradient-orange {
  background: linear-gradient(87deg, #fb6340 0, #fbb140 100%) !important;
}

.bg-gradient-blue {
  background: linear-gradient(to bottom, #5e72e4, #2980b9);
}

.opacity-05{
  opacity: 0.5 !important;
}

.opacity-03{
  opacity: 0.3 !important;
}

.pl-4, .px-4 {
  padding-left: 1.5rem !important;
}

.wizard {
  position: relative;
  margin: auto;
  max-width: 100%;
}

.wizard .wizard-inner li:nth-child(1) .list-step::before {
  width: 350px;
}

.wizard .wizard-inner li:nth-child(2) .list-step::before {
  width: 325px;
}

.wizard .wizard-inner li:nth-child(3) .list-step::before {
  width: 315px;
}

.wizard ul li.checked .list-step::before {
  border-color: #01c0c8!important;
}

.wizard ul li:not(:last-child) .list-step::before {
  content: '';
  position: absolute;
  left: calc(100% + 10px);
  top: 50%;
  border: 1px solid #7fdfe3;
  width: 10px;
  transition: all 0.6s ease-in-out 0.6s;
  -webkit-transition: all 0.6s ease-in-out 0.6s;
  -moz-transition: all 0.6s ease-in-out 0.6s;
}

.wizard > div.wizard-inner {
  position: relative;
  margin-bottom: 50px;
  text-align: center;
}

.wizard ul {
  padding: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  align-items: flex-start;
}

.wizard ul li {
  list-style: none;
  color: #b4b4b4;
}

.wizard  li.checked .list-step,
.wizard  li.active .list-step {
  background-color: #01c0c8;
  color: white;
  border: none;
}
.wizard ul li .list-step {
  display: inline-block;
  position: relative;
  margin: 0;
  width: 30px;
  height: 30px;
  background-color: #7fdfe3;
  border-radius: 50%;
  color: #f2f2f2;
  border: 2px solid #e2e2e2;
}

.wizard ul li .list-step span {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  display: block;
  font-size: 14px;
  font-style: normal;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.wizard ul li.checked .list-title,
.wizard ul li.active .list-title {
  color: #212121;
  font-weight: 600;
}

.custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-control-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
  font-weight: 400;
  color: #212121;
}

.custom-control-input:hover ~ .custom-control-label, 
.custom-control-input:hover ~ .custom-control-label::after {
  cursor: pointer;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #005fbf;
  background-color: #005fbf;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-control-label::before {
  position: absolute;
  display: block;
  content: "";
  top: .124969rem;
  left: -1.5rem;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  background-color: #fff;
  border: #e2e2e2 solid 1px;
}

.custom-control-label::after {
  position: absolute;
  top: .124969rem;
  left: -1.5rem;
  display: block;
  content: "";
  width: 1rem;
  height: 1rem;
  background: no-repeat 50%/50% 50%;
}

/* mobile */
@media (max-width: 769px) {
  .wizard .wizard-inner li:nth-child(1) .list-step::before {
      width: 32px;
  }

  .wizard .wizard-inner li:nth-child(2) .list-step::before {
      width: 32px;
  }

  .wizard .wizard-inner li:nth-child(3) .list-step::before {
      width: 32px;
  }

  .wizard ul li:not(:last-child) .list-step::before {
      content: '';
      position: absolute;
      left: calc(100% + 5px);
      top: 50%;
      border: 1px solid #7fdfe3;
      width: 10px;
      transition: all 0.6s ease-in-out 0.6s;
      -webkit-transition: all 0.6s ease-in-out 0.6s;
      -moz-transition: all 0.6s ease-in-out 0.6s;
  }

  .list-title {
      font-size: 10px;
  }

  .wizard ul li {
      width: 64px;
  }
}

.btn.btn-ghost {
  color: #777;
  background-color: transparent;
  border: 1px solid transparent;
}

.btn.btn-basic {
  color: #777;
  background-color: #fbfbfb;
  border: 1px solid #e2e2e2;
}

.custom-control {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 2.2rem;
}

.custom-control-input {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 1rem;
  height: 1.25rem;
  opacity: 0;
}

.custom-control-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
}

.custom-checkbox .custom-control-label::before {
  border-radius: .25rem;
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom-control-label::before {
  position: absolute;
  top: .25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: #adb5bd solid 1px;
}

.custom-control-label::after {
  position: absolute;
  top: .25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background: no-repeat 50%/50% 50%;
}

.alert-box {
  padding: 16px;
  border-radius: 4px;
}

.alert-box-wrapper {
  display: flex;
  align-items: flex-start;
}

.alert-box-warning::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffb700;
  opacity: 0.15;
  border-radius: 4px; 
}

.alert-box-warning .alert-box-wrapper .icon {
  color: #ffb700;
  margin-right: 12px;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center;
}
