/*
Product : hris
Copyright : Lisoft 20210205
ver : 1.0
*/

/*

 Start /lisoft/hris/script/../www/app/app.css 

*/
/*
Custom css
cre : lwx 20180428
upd : lwx 20180904
ver : 1.0
*/

.logo {
  color: #ff0000;
  font-size: x-large
}

/* html,body,h1,h2,h3,h4,h5 {
  font-family: "Raleway", sans-serif
  font-family: Verdana, sans-serif
} */

a{
  color: blue;
  cursor: pointer;
  text-decoration: underline dashed red;
}
a:hover {
  text-shadow: 0px 0px 7px red;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.famnuico {
  font-size: 1.5em;
  width: 1.5em;
  text-align: center;
}

.mnu {
  width: 100%;
  display: inline-block;
  color:#2196F3;
  padding: 4px 0px 4px 16px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.mnuGrpHover:hover{
  /* text-shadow: 0px 0px 7px red; */
}

.titlebar{
  color:white;
  background-color: rgb(168, 148, 59); /* royalblue; */
  font-weight: bold;
  font-size: x-large;
}

label{
  margin-top: 8px;
  padding: 8px 4px;
}
input, select, textarea {
  width: 99%;
  padding: 2px 8px;
  margin-bottom: 16px;
  margin-left: 4px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

input:focus, select:focus, textarea:focus {
  background-color:#fffacd;
}
input:hover, select:hover, textarea:hover {
  box-shadow: 0px 0px 7px red; /*border: 1px solid red;*/
}
label:hover{
  text-shadow: 0px 0px 7px red;
}
.inerr{
  outline: 2px solid #9d3df8 !important;
  outline-offset: 2px;
}
.txterr{
  text-shadow: 0px 0px 7px #9d3df8;
}
/*alert container*/
.alcon{
  position: fixed;
  right: 0;
  bottom: 0;
  width: 35%; /*for large screen*/
  z-index:4
}
@media (max-width:600px){.alcon-m{width: 80% !important}} /*for small screen*/
@media (max-width:992px) and (min-width:601px){.alcon-m{width: 55% !important}} /*for medium screen*/
.altx{
  max-height: 50px;
  margin-right: 27px;
  overflow: auto;
}
.alit{
  border: 1px solid #ccc !important; /*w3-border*/
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 0.01em 16px;
  position: relative;
  animation: animateright 0.4s;
  opacity: 0.5;
}
.alit:hover{
  opacity: 0.8;
}
.mpnl{
  z-index: 3;
  width: 300px;
  /* color: #000 !important;
  background-color: #fff !important;
  height: 100%;
  position: fixed !important;
  overflow: auto;
  animation: animateleft 0.4s; */
}
.s{
  display:block;
}
.h{
  display:none;
}
/*

 End /lisoft/hris/script/../www/app/app.css 

*/


