@font-face {
    font-family: FontRegular;
    src: url('./fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: FontMedium;
    src: url('./fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: FontBold;
    src: url('./fonts/Poppins-Bold.ttf');
}

body {
    /* font-family: FontRegular !important; */
}

.ff-regular {
    font-family: FontRegular !important;
}

.ff-medium {
    font-family: FontMedium !important;
}

.ff-bold {
    font-family: FontBold !important;
}

.font-8 {
    font-size: 8px !important;
}

.font-9 {
    font-size: 9px !important;
}

.font-10 {
    font-size: 10px !important;
}

.font-11 {
    font-size: 11px !important;
}

.font-12 {
    font-size: 12px !important;
}

.font-13 {
    font-size: 13px !important;
}

.font-14 {
    font-size: 14px !important;
}

.font-15 {
    font-size: 15px !important;
}

.font-16 {
    font-size: 16px !important;
}

.font-21 {
    font-size: 21px !important;
}

.font-24 {
    font-size: 24px !important;
}

.w-25 {
    width: 25% !important;
}

.w-30 {
    width: 30% !important;
}

.w-40 {
    width: 40% !important;
}

.w-50 {
    width: 50% !important;
}

.w-33 {
    width: 33.33% !important;
}

.w-70 {
    width: 70% !important;
}

.w-100 {
    width: 100% !important;
}

.cursor-pointer {
    cursor: pointer;
}

.delay-1 {
    animation-delay: .25s;
}

.delay-2 {
    animation-delay: .5s;
}

.delay-3 {
    animation-delay: .75s;
}

.delay-4 {
    animation-delay: 1s;
}

.delay-5 {
    animation-delay: 1.25s;
}

.delay-6 {
    animation-delay: 1.5s;
}

.balist:hover {
    background-color: #f8f9fa !important;
}



.sticky-col {
    position: -webkit-sticky;
    position: sticky;
    /* background-color: #f8f9fa !important; */
    z-index: 1;
}

.first-col {
    width: 40px !important;
    left: 0px;
}

.second-col {
    left: 30px;
}