<div class="d-flex align-items-center bg-white animated fadeIn" style="min-height: 100vh;">
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <a href="/">
                    <img src="../../../assets/media/logo/logo-mylonsum-baru-revisi.png" class="animated fadeInUp" width="180" alt="">
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-6 my-auto mt-4">
                <h1 class="animated slideInDown">Annual Operation Planning</h1>
                <p class="mb-5 animated lightSpeedIn" style="border-left: 3px solid #3B853A;
                padding-left: 15px;">Welcome to Annual Operation Planning Application. Detailed projection of all
                    estimated income and expenses based on forecasted sales revenue during one year to identify,
                    communicate and monitor progress on key priorities for the year that advance the strategic plan.</p>

                <div>
                    <a ng-if="userData.role === 2" href="#!/aop/ba"
                        class="btn btn-lg lonsum-btn-primary me-lg-3 fw-bold mx-auto animated fadeInUp">AOP</a>
                    <a ng-if="userData.role === 3 || userData.role === 2" href="#!/expense/ba"
                        class="btn btn-lg me-lg-3 fw-bold animated fadeInUp delay-1"
                        ng-class="{'lonsum-btn-secondary': userData.role === 2, 'lonsum-btn-primary': userData.role === 3}">
                        <span ng-if="userData.role === 2">Business Area</span>
                        <span ng-if="userData.role === 3">Get Started</span>
                    </a>
                    <a ng-if="userData.role === 4 || userData.role === 2" href="#!/expense/department"
                        class="btn btn-lg fw-bold animated fadeInUp delay-2"
                        ng-class="{'lonsum-btn-secondary': userData.role === 2, 'lonsum-btn-primary': userData.role === 4}">
                        <span ng-if="userData.role === 2">Departments</span>
                        <span ng-if="userData.role === 4">Get Started</span></a>
                </div>

                <!-- <div>
                    <a href="#!/aop/ba"
                        class="btn btn-lg lonsum-btn-primary me-lg-3 fw-bold mx-auto animated fadeInUp">AOP</a>
                    <a href="#!/expense/ba"
                        class="btn btn-lg me-lg-3 fw-bold animated fadeInUp delay-1"
                        ng-class="{'lonsum-btn-secondary': userData.role === 2, 'lonsum-btn-primary': userData.role === 3}">
                        <span>Business Area</span>
                        <span>Get Started</span>
                    </a>
                    <a href="#!/expense/department"
                        class="btn btn-lg fw-bold animated fadeInUp delay-2"
                        ng-class="{'lonsum-btn-secondary': userData.role === 2, 'lonsum-btn-primary': userData.role === 4}">
                        <span>Departments</span>
                        <span>Get Started</span></a>
                </div> -->

            </div>
            <div class="col-lg-6 my-auto mx-auto text-center">
                <img src="../../../assets/media/illustrations/Meeting.png" width="85%" class="animated jackInTheBox"
                    alt="">
            </div>
        </div>
    </div>
</div>
</div>






<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script type="text/javascript">
    const getSp = async () => {
        let url = 'https://mylonsum.londonsumatra.com/_api/sp.userprofiles.peoplemanager/GetMyProperties';
        try {
            fetch(`${url}`, {
                    headers: {
                        Accept: "application/json;odata=verbose"
                    }
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data.d)
                    let email = data.d.Email
                    let loginuser = data.d.AccountName.split("\\")[1]
                    localStorage.setItem("SPUserProperties",  JSON.stringify(email, loginuser))
                });
        } catch (error) {
            console.log(error);
        }
    }
    getSp()
    const getTokens = async () => {
        let urlBase = 'https://localhost:44391/api';
        fetch(`${urlBase}/aop/auth/get-token`, {
                method: 'post',
                headers: {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    Email: "Devin.Liu@londonsumatra.com",
                    LoginUser: "Devin"
                })
            }).then(res => res.json())
            .then(res => {
                console.log(res)
                localStorage.setItem("aopUserData",  JSON.stringify(res))
            });
    }
    getTokens()
</script> -->